.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 438px;
    width: 1142px;
    /*background-color: cornflowerblue;*/
    padding-bottom: 105px;
    box-sizing: border-box;
}
.OurServices{
    height: 511px;
    display: flex;
    justify-content: center;
    align-content: center;
}
h1{
    font-family: Montserrat;
    color:  #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
h1:after{
    content: ' ';
    width:88px ;
    height: 5px;
    position: absolute;
    top:70px;
    left:750px;
    background-color: transparent;
    border-top:1px solid #18cfab;
    border-bottom:1px solid #18cfab;
    transform: skew(70deg);
}
.subitem{
    width: 1141px;
    display: none;
    font-size: small;
    line-height: 20px;
    text-align: justify;
    justify-content: space-between;
    /*background-color:coral;*/
    margin-top: 40px;
}
.bubbleWrapper {
    width: 1142px;
    display:flex;
}
.textWrapper{
    width: 927px;
}
.imgWrapper{
    width: 194px;
}

.items{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:aliceblue;
    color: #717171;
    border:1px solid lightgray;
    width: 193px;
    height: 73px;
}

.text{
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    padding-top: 27px;
    padding-bottom: 30px;
    font-size: 15.98px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    transform: scaleY(1.0009);
    position: relative;
    cursor: pointer;
}

.speech-bubble {
    position: relative;
    background-color:  #18cfab;
    width: 193px;
    height: 73px;
    color:#ffffff;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color:  #18cfab;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}

